# allow-list
*
!.gitignore
!.github/
!.github/**
!spec/
!spec/**
!docs/
!docs/**
!packages/
!packages/**
!demo/
!demo/**
!implementations/
!implementations/**
!README.md
!CHANGELOG.md
!LICENSE
!package.json
!pnpm-workspace.yaml
!pnpm-lock.yaml

# exclusions within allowed trees
**/node_modules/
**/dist/
demo/dist/
